body {
	margin: 0px;
	cursor: url(http://wosn.net/zhizhen/normal.cur), default;
	background: black;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
	width: 0 !important;
}

a:hover {
	cursor: url(http://wosn.net/zhizhen/link.cur), pointer;
}

body > img {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #0000007F;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#content > img {
	margin-bottom: 50px;
}

body.mobile #content > img {
	margin-bottom: 100px;
}

#inner_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid white;
	border-width: 1px 0px;
	transition: all 1s;
	overflow: hidden;
}

#inner {
	padding: 50px 100px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#inner_wrap.hide {
	max-height: 0;
	opacity: 0.5;
}

#inner_wrap.show {
	max-height: 1500px;
	opacity: 1;
}

#inner > span {
	color: white;
	margin-top: 10px;
}

body.mobile #inner > span {
	font-size: 2rem;
}

#inner > span.title {
	font-weight: bold;
	font-size: 2rem;
	margin-top: 0px;
	margin-bottom: 40px;
}

body.mobile #inner > span.title {
	font-size: 3rem;
}

#inner_wrap > p {
	margin: 0px;
	color: white;
	margin-bottom: 20px;
}

body.mobile #inner_wrap > p {
	font-size: 2rem;
	margin-bottom: 20px;
}

#state {
	display: flex;
	flex-direction: row;
	color: white;
	margin-bottom: 30px;
}

body.mobile #state {
	font-size: 2rem;
	flex-direction: column;
	margin-bottom: 40px;
}

.state_item {
	border: solid 1px white;
	border-radius: 5px;
	justify-content: space-between;
	padding: 10px;
	width: 150px;
	display: flex;
	flex-direction: row;
	margin: 0px 5px;
	background: rgba(255, 255, 255, 0.2);
}

body.mobile .state_item {
	width: 300px;
	margin: 10px 0px;
	padding: 10px 20px;
}

.state_circ {
	background-color: white;
	border-radius: 16px;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-top: 3px;
}

body.mobile .state_circ {
	margin-top: 9px;
	border-radius: 32px;
	width: 32px;
	height: 32px;
}

.state_circ[alt="normal"] {
	background: rgb(126,234,25);
	box-shadow: 0px 0px 5px 0px rgba(126, 234, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.state_circ[alt="unstable"] {
	background: rgb(229,195,25);
	box-shadow: 0px 0px 5px 0px rgba(229, 195, 25, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.state_circ[alt="maintain"] {
	background: rgb(255, 104, 149);
	box-shadow: 0px 0px 5px 0px rgba(232, 25, 87, 1),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
}

#abvlnk {
	color: white;
	margin-top: 20px;
}

body.mobile #abvlnk {
	margin-top: 40px;
	font-size: 2rem;
}

#link {
	border: 1px solid white;
	border-radius: 5px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

body.mobile #link {
	margin-top: 40px;
	flex-direction: column;
}

#link > a {
	width: 200px;
	height: 50px;
	border: 0px solid white;
	border-right-width: 1px;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 50px;
	margin: 0px;
	transition: background-color 0.5s;
}

body.mobile #link > a {
	width: 600px;
	height: 100px;
	line-height: 100px;
	font-size: 2rem;
	border-right-width: 0px;
	border-bottom-width: 1px;
}

#link > a:last-of-type {
	border-width: 0px;
}

#link > a:hover {
	background: #FFFFFF3F;
}

#link > a:active {
	background: #FFFFFF7F;
}

#codedesc {
	color: white;
	line-height: 50px;
	height: 50px;
}

body.mobile #codedesc {
	line-height: 100px;
	font-size: 2rem;
	height: 100px;
}

#code {
	color: white;
	line-height: 63px;
	height: 63px;
	font-size: 125%;
	font-weight: bold;
}

body.mobile #code {
	line-height: 125px;
	font-size: 2.5rem;
	height: 125px;
}

#board {
	color: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 500px;
	opacity: 0;
}

body.mobile #board {
	width: 700px;
}

#board > span {
	margin-bottom: 25px;
	font-size: 2rem;
	text-align: center;
}

body.mobile #board > span {
	font-size: 3rem;
}

#announce {
	border: 1px solid white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	min-height: 50px;
	width: 100%;
}

#announce > span {
	color: white;
	line-height: 50px;
	padding: 5px 20px;
	transition: background-color 0.5s;
	border: 0px solid white;
	border-bottom-width: 1px;
	word-break: break-all;
}

#announce > span:hover {
	background: #FFFFFF3F;
}

#announce > span:last-of-type {
	border-bottom-width: 0px;
}

#announce > span.important {
	color: yellow;
}

body.mobile #announce > span {
	line-height: 100px;
	font-size: 2rem;
}

#black {
	background: #000000;
	z-index: 1;
	transition: opacity 0.5s;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#black.hide {
	opacity: 0;
	pointer-events: none;
}

#black.show {
	opacity: 0.9;
	pointer-events: all;
}


#detail {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 5px;
	padding: 5px;
}

#detail > p {
	margin: 5px 0px 0px 0px;
}

#detail > p:first-of-type {
	margin: 0px;
}

body.mobile #detail > p {
	font-size: 2rem;
}

#padding {
	height: 0px;
	background: #0000007F;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 25px;
}

#footer > span {
	color: gray;
}